---
import type { SiteData } from "../types/site";
import Section from "./Section.astro";

interface Props {
  data: SiteData;
}
const { data } = Astro.props;
---

<Section
  id="activities"
  title="Activities & certifications"
>
  <ul class="activities-list">
    {
      data.activities.map((a) => (
        <li class="activity-item">
          <p class="activity-title">{a.title}</p>
          {a.detail && <p class="activity-detail">{a.detail}</p>}
        </li>
      ))
    }
  </ul>
</Section>
